bittensor @ git+https://github.com/latent-to/bittensor.git@v10.4.0
bittensor-wallet @ git+https://github.com/latent-to/btwallet.git@v4.1.0
bittensor-drand @ git+https://github.com/latent-to/bittensor-drand.git@v1.3.0

loguru
python-dotenv
requests
rich
pyyaml
web3
matplotlib
